* {
  background-color: #ddd;
  color: #343a40;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

nav {
  font-size: 18px;
}

.titulo-principal {
  text-align: left;
  justify-content: center;
}

.titulo-principal h1 {
  line-height: 1;
}

.imagem-principal {
  justify-content: center;
  text-align: center;
}

.imagem-principal img {
  transition: 0.5s;
  max-height: 400px;
  width: auto;
}

.imagem-principal img:hover {
  transition: 0.5s;
  transform: scale(1.02);
}

#msg-retorno {
  margin: 50px 0;
  text-align: center;
}
