* {
  background-color: #ddd;
  color: #343a40;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

p {
  margin: 0;
}

nav {
  font-size: 13.5pt;
}

.titulo-principal {
  text-align: left;
  justify-content: center;
}

.titulo-principal h1 {
  line-height: 1;
}

.imagem-principal {
  justify-content: center;
  text-align: center;
}

.imagem-principal img {
  transition: 0.5s;
  max-height: 400px;
  width: auto;
}

.imagem-principal img:hover {
  transition: 0.5s;
  transform: scale(1.02);
}
.container-msg {
  font-size: 13pt;
  padding: 0 8px;
}
.container-msg:nth-child(odd) {
  padding-top: 8px;
  border-radius: 15px 15px 0 0;
}
.container-msg:nth-child(even) {
  padding-bottom: 8px;
  border-radius: 0 0 15px 15px;
}

#msg-retorno {
  margin: 0 auto;
  text-align: center;
}

#msg-categoria {
  margin: 0 auto;
  text-align: center;
}

#principal,
#office,
#college,
#party,
#family {
  background-color: #343a40;
  border-color: #343a40;
}

#submit {
  background-color: #2a473a;
  border-color: #2a473a;
}

@media (max-width: 768px) {
  * {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .imagem-principal img {
    max-height: 300px;
  }

  nav,
  p,
  h5 {
    font-size: 12pt;
  }

  h1 {
    font-size: 25pt;
  }

  .container-msg {
    font-size: 13pt;
  }
}
